/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: 'wght' var(--main-text-weight) var(--main-header-weight);
  background-color: var(--bg-color);
  color: var(--accent-color);
  background-image: var(--bg-image);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.section {
  margin-inline: auto;
  max-inline-size: var(--section-size);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block: 100px;
  background-color: var(--bg-color);
  border: var(--accent-color) solid 2px;
}

.header__title {
  margin-block-start: clamp(7.5rem, 7.148rem + 1.502vw, 8.5rem);
  font-family: var(--accent-font), sans-serif;
  font-size: clamp(3.063rem, 2.485rem + 2.465vw, 4.063rem);
  text-transform: uppercase;
}

.header__subtitle {
  margin-block-start: 20px;
  font-family: var(--accent-font), sans-serif;
  font-size: clamp(0.875rem, 0.55rem + 1.387vw, 1.438rem);
  text-transform: uppercase;
}

.theme-menu__list {
  margin: 24px 0 22px;
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 8px;
}

.theme-menu__item {
  padding-inline-start: 17px;
}

.theme-menu__button {
  position: relative;
  background-color: transparent;
  font-family: var(--accent-font), sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  border: none;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
  transition: opacity 0.3s;
}

.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  inset-inline-start: -13px;
  animation: menu_arrow 0.5s infinite ease-in-out alternate;
}

.theme-menu__button:hover {
  opacity: 0.6;
  cursor: pointer;
  transition: opacity 0.3s;
}

.theme-menu__button::after {
  content: '';
  display: block;
  position: absolute;
  inset-block-end: -3px;
  inset-inline-start: 0;
  inline-size: 100%;
  block-size: 2px;
  background-color: var(--accent-color);
  transition: scale 0.3s;
  transform-origin: left;
  scale: 0;
}

.theme-menu__button:focus-visible {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:focus-visible::after {
  outline: none;
  scale: 1;
}

.card-section {
  display: flex;
  flex-direction: column;
  gap: 51px;
}

.card {
  background-color: var(--bg-color);
  border: var(--accent-color) solid 2px;
}

.card__title {
  font-size: 18px;
  font-weight: var(--main-header-weight);
  padding: 4px 0 4px 10px;
}

.card-image__container {
  position: relative;
  overflow: hidden;
  max-block-size: 700px;
  border-top: var(--accent-color) solid 2px;
  border-bottom: var(--accent-color) solid 2px;
}

.card__image {
  block-size: 100%;
  inline-size: 100%;
  object-fit: cover;
}

.filter_contrast {
  filter: contrast(200%);
}

.filter_sepia {
  filter: sepia(150%);
}

.filter_saturate {
  filter: saturate(300%);
}

.filter_blur {
  filter: blur(4px);
}

.filter_grayscale {
  filter: grayscale(100%);
}

.filter_hue-rotate {
  filter: hue-rotate(90deg);
}

.filter_invert {
  filter: invert(1);
}

.filter_brightness {
  filter: invert(1) brightness(200%) saturate(60%) hue-rotate(90deg);
}

.card-image__label {
  position: absolute;
  inset-inline-end: 0;
  font-family: var(--accent-font), sans-serif;
  padding: 27px 25px 0 0;
  font-weight: var(--main-header-weight);
  color: var(--accent-color);
  font-size: 14px;
  mix-blend-mode: hard-light;
  opacity: 0.5;
  text-shadow: 0 0 5px var(--border-color);
}

@supports ((text-stroke: 1px var(--border-color)) or (-webkit-text-stroke: 1px var(--border-color))) {
  .card-image__label {
    text-stroke: 1px var(--border-color);
    -webkit-text-stroke: 1px var(--border-color);
    text-shadow: none;
  }
}

.card-text__container {
  margin: 25px 25px 25px;
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.card__text {
  font-size: 18px;
  line-height: 1.17;
  font-weight: var(--main-text-weight);
}

.card__button-container {
  display: flex;
  justify-content: end;
  padding: 0 25px 25px 0;
  gap: 4px;
}

.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: var(--bg-color);
  border: var(--accent-color) solid 2px;
  cursor: pointer;
  overflow: hidden;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0 0 var(--accent-color);
  transition: box-shadow 0.3s;
}

.button::after {
  content: '';
  position: absolute;
  inset-block-end: 0;
  inset-inline-start: 0;
  inline-size: 100%;
  block-size: 100%;
  background-color: var(--accent-color);
  transition: transform 0.5s ease-in-out;
  transform: translateX(-100%);
}

.button:hover::after {
  cursor: pointer;
  transform: translateX(0);
}

.card__icon-button {
  padding: 0;
  background-color: transparent;
  block-size: 38px;
  border: transparent 2px solid;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: var(--accent-color) solid 2px;
  transition: border 0.3s;
}

.card__like-button {
  inline-size: 130px;
  block-size: 38px;
}

.button__text {
  font-family: var(--accent-font), sans-serif;
  font-weight: var(--main-text-weight);
  color: var(--button-hover-color);
  font-size: 14px;
  line-height: 0.9;
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
}

.save-button__container {
  display: flex;
  justify-content: center;
}

.save-button {
  margin: 49px 0 105px;
  inline-size: clamp(19.125rem, 18.487rem + 2.723vw, 20.938rem);
  padding: 15px 0;
}

.floppy {
  inline-size: 21px;
  block-size: 21px;
  mix-blend-mode: difference;
  color: var(--button-hover-color);
  z-index: 1;
}

.modal {
  max-inline-size: clamp(21.313rem, 20.879rem + 1.849vw, 22.063rem);
  padding: 0;
  background-color: var(--bg-color);
  border: var(--accent-color) solid 2px;
}

.modal__container {
  display: flex;
  gap: 20px;
  padding: 30px;
  align-items: center;
}

.modal__floppy {
  inline-size: 39px;
  block-size: 39px;
}

.modal__title {
  color: var(--accent-color);
  font-family: var(--accent-font), sans-serif;
  font-weight: var(--main-text-weight);
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
  max-inline-size: clamp(12.375rem, 11.075rem + 5.547vw, 14.625rem);
}

.modal-button {
  inline-size: 293px;
  block-size: 38px;
  margin: 0 auto 30px;
}

.modal::backdrop {
  background: #000;
  opacity: 0.75;
}

@media (width <= 375px) {
  .header {
    inline-size: 100%;
  }

  .card__title {
    max-inline-size: 316px;
  }

  .card-image__container {
    block-size: 375px;
  }

  .card-image__label {
    padding: 25px 11px 0 0;
  }

  .card-text__container {
    margin-block-start: 21px;
  }

  .save-button {
    margin-block-start: 51px;
    display: flex;
    flex-direction: column;
    padding: 15px 0;
  }

  .floppy {
    inline-size: 28px;
    block-size: 28px;
  }
}